*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00FF6A, #007FFF, #FFFF00);
    min-height: 100vh;
    margin: 0;
}

.container{
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 330px;
    line-height: 140%;
}

.date-time{
    text-align: center;
    margin-bottom: 1rem;
    margin-bottom: 0.7rem;
    color: #333;
    background-color: transparent;
    border-radius: 10pxpx;
    margin-bottom: 2rem;
}

.date-time p{
    margin: 0.2rem 0;
    font-weight: bold;
    background-color: transparent;
    padding: 0.2rem;
}

#current-time{
    background-color: transparent;
    text-align: center;
    font-size: 1.5rem;
}

#current-date{
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
}

h1{
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 1rem;
    color: #FF6F00;
    background-color: transparent;
}

h2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    margin-bottom: 1rem;
    color: #0D0D0D;
    background-color: transparent;
}

.form-login{
    background: rgba(214, 246, 255, 0.6);
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-radius: 10px;
    width: 100%;
}

.form-login h3{
    background-color: transparent;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}

.input-group{
   position: relative;
   margin-bottom: 1rem;
   text-align: left;
   background-color: transparent;
   width: 90%;
}

.input-group label{
    display: block;
    margin-bottom: 0.3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    background: transparent;
}

.input-group input{
    width: calc(100%-10px);
    padding: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.input-group .material-icons,
.input-group .material-symbols-outlined {
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color: #292929;
    vertical-align: middle;
    font-size: 2rem;
}

.input-group span{
    background: transparent;
}

input::placeholder{
    color: #999;
    font-style: italic;
    font-size: 0.9rem;
}

button{
    background-color: #FF6F00;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'bungee inline', cursive;
    width: 60%;
    margin-top: 1rem;
}